body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    width: 310px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 97%;
    height: 48px;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    width: 63px;
    height: 63px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px;
    background-color: rgb(218, 206, 218);
}

.div-clc {
    font-size: 18px;
    width: 93%;
    background-color: rgb(188, 188, 188);
    padding: 7px;
    margin-left: 2px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(212, 210, 210, 0.1);
}

.btn {
    border-radius: 48px;
    transition: border-radius ease-in;
    transition-duration: 0.3s;
    background-color: rgba(255, 186, 103, 0.56);
}

.btn:active {
    border-radius: 16px;
    transition-duration: 0.03s;
}

.func{
    background-color: rgba(205, 92, 92, 0.2);
}

.clc-screen{
    font-size: 5rem;
    text-align: end;
    margin: 0;
    overflow-x: scroll;
}